cloud.elec.ac.nz {
        reverse_proxy /web* https://headscale-ui {
                transport http {
                        tls_insecure_skip_verify
                }
        }
        reverse_proxy http://headscale:8080
}

# Proxy this to the telescope_proxy which is connected to the headscale network in a separate container
api.elec.ac.nz {
     reverse_proxy http://host.docker.internal:8880
}

immich.molteno.net {
     reverse_proxy http://host.docker.internal:2283
}
