cloud.elec.ac.nz {
        reverse_proxy /web* https://headscale-ui {
                transport http {
                        tls_insecure_skip_verify
                }
        }
        reverse_proxy http://headscale:8080
}

api.elec.ac.nz {
    log
    
    handle_path /testing/* {
        respond "Hi test {uri}"
    }
    @tartapi path_regexp tartapi /tart/([a-z]+)/(.*)
#    reverse_proxy @tartapi {re.tartapi.1}.tart.telescopes.elec.ac.nz/{re.tartapi.2}
#    handle @tartapi {
#        respond testing/{re.tartapi.1}/{re.tartapi.2}
#    }
}
