cloud.elec.ac.nz {
        reverse_proxy /web* https://headscale-ui {
                transport http {
                        tls_insecure_skip_verify
                }
        }
        reverse_proxy http://headscale:8080
}
