### This set of services is for the TART telescope. It orchestrates the following services:
#   Tailscale Sidecar: tailscale
#   Web UI and API proxy(nginx): ui
#   API container: telescope-api
#
#   Author: Tim Molteno (c) 2019-2024.
#   Updates: Max Scheel - 2025

x-logging: &default-logging
    driver: "json-file"
    options:
        max-file: "5"
        max-size: "10m"

services:
    tailscale:
        image: tailscale/tailscale:latest
        ports:
            - "8000:80"
        volumes:
            - "./tailscale/var_lib:/var/lib"        # State data will be stored in this directory
            - "/dev/net/tun:/dev/net/tun"           # Required for tailscale to work
        cap_add:                                    # Required for tailscale to work
            - net_admin
            - sys_module
        environment:
            - TS_HOSTNAME=${TS_HOSTNAME}
            - TS_EXTRA_ARGS=--login-server=https://cloud.elec.ac.nz
            - TS_STATE_DIR=/var/lib/tailscale
            - TS_ENABLE_HEALTH_CHECK=true
            - TS_LOCAL_ADDR_PORT=127.0.0.1:41234
        healthcheck:
            test: ["CMD", "wget", "--spider", "-q", "http://127.0.0.1:41234/healthz"]
            # Check if Tailscale is running
            interval: 1m # How often to perform the check
            timeout: 10s # Time to wait for the check to succeed
            retries: 3 # Number of retries before marking as unhealthy
            start_period: 10s # Time to wait before starting health checks
        restart: unless-stopped
        logging: *default-logging

    # UI and Proxy for API.
    ui: # Port 80 on service tailscale
        image:  ghcr.io/tart-telescope/web_app/viewer-root:main
        depends_on:
            - telescope-api
            - tailscale
        volumes:
            - data-volume:/telescope_data
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
        network_mode: "service:tailscale"
        restart: unless-stopped
        logging: *default-logging

    # Port 5000
    telescope-api:
        image: ghcr.io/tart-telescope/sbc_code:latest
        volumes:
            -   ~/tart_web_api_store:/database/ # dir where the sqlite database is stored
            -   ~/telescope_config:/config_data # dir where telescope_config.json and calibratied_antenna_positions.json are expected
            -   data-volume:/telescope_data # shared between containers. serving vis and raw hdf files as static files through nginx
        # Comment the following two lines to disable access to the TART hardware (this allows testing of software on a desktop)
        devices:
           - /dev/spidev0.0
        environment:
            # Change the following env vars or create a .env. You will use this to login to your telescope from the Web UI or CLI.
            - LOGIN_PW=${LOGIN_PW}
            - SECRET_KEY=${SECRET_KEY}
            # Optional environment variables for configuring the telescope
            # - CONFIG_DIR=/config
            # - DATA_ROOT=/telescope_data
            # - LOGLEVEL=DEBUG
        ports:
            - 5000:5000
        restart: unless-stopped
        depends_on:
            - tailscale
        logging: *default-logging

volumes:
    # Mounted on each container as /telescope_data, used for raw data and vis data. This is a hardcoded path in each container.
    data-volume:
