build
dist
**egg-info
.venv
python_code/tart_web_api/.venv
python_code/tart_web_api/tart_api/.venv

venv
.env
.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.coverage
.tox
.mypy_cache
.ruff_cache
*.egg-info
.DS_Store
Thumbs.db
