#
# Caddyfile to match API requests to api.elec.ac.nz/tart/signal/xxx -> signal.tart.telescopes.elec.ac.nz/xxx
#
{
	# General Options
	debug
}

# api.elec.ac.nz should go here. The following is for testing. wget --no-check-certificate http://localhost/tart/signal
api.elec.ac.nz:80 {
    log {
		level DEBUG
    }
    
    @testpath path_regexp testpath /testing/tart/([a-z]+)/(.*)
    
    handle @testpath {
        respond "{uri} ->  {re.testpath.1}.tart.telescopes.elec.ac.nz/{re.testpath.2}"
    }
    
    @tartapi path_regexp tartapi /tart/([a-z]+)/(.*)
    handle @tartapi {

        # respond "{uri} ->  {re.tartapi.1}.tart.telescopes.elec.ac.nz/{re.tartapi.2}"
        reverse_proxy {
            header_up Host {http.reverse_proxy.upstream.host}
            to http://{re.tartapi.1}.tart.telescopes.elec.ac.nz/{re.tartapi.2}
        }
    }

    respond "{uri} Not handled"
}
